.sam{
	border: 3px solid #9F6CF0;

}
section{
	max-width:750px;
	padding:20px;
}
@media only screen and (max-width: 550px) {
	body { font-size: 90%; }
	.sidebar{
		display:none;
	}
	
section{
	width:95%;
}
}